*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 35vw;
    height: 80vh;
    border: 1px solid green;
}
.container .div1{
    width: 30%;
    height: 100%;
    border: 1px solid blue;
}
.container .div2{
    width: 70%;
    height: 100%;
    border: 1px solid red;
}